.main-container{
    margin-top: 0.5rem;
  }
  .table-container{
    overflow: auto;
  height: 100vh;
  }
  
  table{
    border-spacing: 0;
    width: 100%;
    padding: 0px 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

  }
  
  td,th{
    margin: 0;
    padding: 0.6rem;
    border-bottom: 1px solid #afafaf;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

    
  }
  
  th .data{
    font-weight: 1rem;
    font-size:0.9rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

  }
 
  .footer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 40px;
    flex-wrap: wrap;
    padding: 10px;
    justify-content: space-between;
    margin-top: 1rem;
  }
  
@media only screen and (max-width:850px){
  table{
    padding: 0px 10px;
  }
  .footer{
    margin: 0 10px;
    flex-wrap: wrap;
    padding: 10px;
  }
}
  
@media only screen and (max-width:550px){
  .footer{
    margin: 0 5px;
    flex-wrap: wrap;
    padding: 5px;
    justify-content: space-around;
  }
  td,th{
    padding: 0.4rem 0.3rem;
  }
}